*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --accent-bg: #ffab6b;
  --main-font: "Raleway", serif;
  --accent-font: "STIX Two Text", serif;
  --marker-image: url(../images/marker-light.svg);
  margin: 0;
  color: var(--text-color);
  font-size: 18px;

  font-family: var(--main-font);
  background-color: var(--bg-color);
  min-inline-size: 360px;
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #b3b3b3;
  --accent-color: #b3b3b3;
  --accent-bg: transparent;
  --marker-image: url(../images/marker-dark.svg);
}

.heading {
  font-family: var(--accent-font);
  line-height: 90%;
  text-align: center;
}

.header__title {
  padding-top: 10vw;
  padding-bottom: 40px;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 20px 5vi;
}

.header__logo {
  color: var(--text-color);
}

.header__theme-toggler {
  gap: 20px;
}

.header__theme-button {
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--main-font);
}

.header__theme-button:focus {
  outline: 1px solid;
  outline-offset: 1px;
}

.header__theme-button_is-active {
  position: relative;
}

.header__theme-button:not(.header__theme-button_is-active):hover {
  text-decoration: underline;
}

.header__theme-button_is-active::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin-top: 0.7em;
  background: url(../images/pattern.svg);
  background-color: var(--accent-bg);
  block-size: 0.4em;
}

.content-section {
  padding-right: 5vi;
  padding-left: 5vi;
}

.content__title {
  padding-top: 7vw;
  padding-bottom: 2.5vw;
  font-size: 30px;
}

.content__text-block_type_first-lettered::first-letter {
  display: inline-block;
  margin: 0 1px 4px 4px;
  border: 1px solid var(--accent-color);
  padding: 0 2px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.3em;
  background-color: var(--accent-bg);
}

.content__paragraph {
  padding-bottom: 1.5em;
}

.content__figure {
  position: relative;
  width: calc(100% + 10vi);
  margin: 7vw 0 7vw -5vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  border-bottom: 1px solid var(--text-color);
  padding: 20px 0;
  text-align: center;
}

.content__blockquote {
  padding-left: 15vi;
}

.link {
  color: inherit;
  text-underline-offset: 2px;
}

.link:focus {
  outline: 1px solid;
  outline-offset: 1px;
}

.link:hover {
  text-decoration: underline;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  inline-start: 40px;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vw;
  border: 1px solid var(--text-color);
  padding: 0 10px;
  aspect-ratio: 4 / 3;
}

.content__card-title {
  font-size: 60px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin-top: 0.7em;
  background: url(../images/pattern.svg);
  background-color: var(--accent-bg);
  block-size: 0.2em;
}

.content__list li {
  position: relative;
}

.content__list li::before {
  content: "";
  position: absolute;
  inset: 0;
  margin-left: -25px;
  background-image: var(--marker-image);
  background-repeat: no-repeat;
  background-size: contain;
  block-size: 15px;
  inline-size: 15px;
}

.footer {
  margin-top: 10vw;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 2.5vw;
}

.footer__copyright {
  text-align: center;
}
